#sidebar{
    background-color:#2C2E2F;
    float:left;
    width:300px;
    min-height:100vh;
}

.sidebar-button {
    width:inherit;
    margin: 0 auto;
    padding: 0 15%;
    height:50px;

    color:#888A8A;
    background: transparent;

    border: none ;
    font: inherit;
}

.sidebar-button:before{
    content: "";
    display:inline-block;
    vertical-align:middle;
    height:100%;
}

.sidebar-button:hover{
    color:#DCDCDC;
    cursor:pointer;
}

.sidebar-button-icon{
    display:inline-block;
    margin-right:10px;
}

.sidebar-button-title{
    display:inline-block;
}

.sidebar-button-indicator {
    display:inline-block;
    line-height:50px;
    float:right;
}